[submodule "vendor/liblifthttp"]
	path = vendor/liblifthttp
	url = https://github.com/jbaldwin/liblifthttp.git
[submodule "vendor/simdjson"]
	path = vendor/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "vendor/uWebSockets"]
	path = vendor/uWebSockets
	url = https://github.com/uNetworking/uWebSockets
