[submodule "lib/liblifthttp"]
	path = lib/liblifthttp
	url = git@github.com:jbaldwin/liblifthttp.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
